img {
    width: 100%;
    background-color: white;
}

.post {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin-bottom: 20px;
    background-color: white;
}

.infoEl {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
}

.text-center {
    text-align: center;
}

.postInformation {
    padding: 5px;
}

